<h3> Here are your notes. </h3>
<% @notes.each do |note| %>
  <li> <a href="/notes/<%=note.slug%>"><%= note.title %> </a> </li>
<% end %>



<h4>Create a new note: </h4>

<form action="/notes" method="post" >
  <input type="text" name="title" placeholder="Title">
  <br>
  <input type="text" name="content" placeholder="Your Note Goes Here">
  <br>
  <button type="submit" name="submit" value="submit">Make the Note</button>
</form>
