<h3> OOPS, something went wrong. Please enter info again. All fields are required. </h3>
<h4>  If you continue to get this message with all fields entered, the username is taken </h4>


<form method="post" action="/signup">

<label>Username:</label>
  <input type="text" name="username" id="username">

<br>

<label>Email:</label>
  <input type="text" name="email" id="email">

<br>

<label>Password:</label>
  <input type="text" name="password" id="password">

<br>
<br>
<input type="submit">
</form>
