<h3>Create Your Account</h3>

<form method="post" action="/signup">

<label>Username:</label>
  <input type="text" name="username" id="username">

<br>

<label>Email:</label>
  <input type="text" name="email" id="email">

<br>

<label>Password:</label>
  <input type="text" name="password" id="password">

<br>
<br>
<input type="submit">
</form>
