<h3>Create Your Account</h3>

<form method="post" action="/signup">


  <input type="text" name="username" id="username" placeholder="User Name">

<br>


  <input type="text" name="email" id="email" placeholder="Email">

<br>


  <input type="text" name="password" id="password" placeholder="Password" >

<br>
<br>
<input type="submit">
</form>
